header, nav, .main, footer{
    width: 95%;
    max-width: 1000px;
    margin: 10px auto;
}

body {
    background-image:url(imagenes/fondo.jpg)
    
}
#pipipi{
    display: block;
    width: 700px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #000000;
    background: #0000007a;

    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

    -moz-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
}
nav{
    font: bold 12px verdana;
    float: center;
    color:rgba(0, 0, 0, 1);
    background: rgba(28, 58, 116, 0.7);
    overflow: hidden;
    margin: 10px auto;
    width: 600px;
    border: 1px solid #000000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#titulo {
    font: bold 26px verdana;
    float: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    padding: 10px 20px;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
.main .articles{
    width: 60%;
    margin-right: 1.5%;
    background: rgb(138, 137, 137);
    float:left;
}
.main .articles article{
    padding: 10px;
    background: gray;
    margin-bottom: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

aside{
    width: 30%;
    float: left;
    background: orange;
    padding: 5px;
    box-sizing: border-box;
}

footer{
    
    clear:both;
    background: black;
    color: white;
    padding: 5px;
    text-align: center;
}