{% extends "layout.html" %}

{% block content %}
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2> Ajolotes: </h2>
            <p>Bienvenido!!, ¿queres saber sobre los ajolotes?? El ajolote es una 
                especie de anfibio caudado ambistomátido del género Ambystoma 
                relacionado con la salamandra tigre.​​ Fue descrito originalmente por 
                George Kearsley Shaw y Frederick Polydore Nodder bajo el sinónimo 
                de Gyrinus mexicanus.​
                <br>
                <img src="/static/imagenes/a2.jpg" width="200px">
           </p>
       </article>
        <article>
           <h2> ¿De que se alimentan los ajolotes?  </h2>
            <br>
            <p>Es un anfibio carnívoro cuya alimentación se compone de pequeños 
                crustáceos, larvas de insectos, gusanos, babosas, caracoles, lombrices, 
                renacuajos y algún pez.
            </p>
        
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> No vendemos ajolotes, recuerda siempre adoptar y no tomar de cautiverio.
        <br>
    </p>
    <p>
        Para mas informacion, contactenos al numero 449 110 5135, seguramente no le responderemos
        pero minimo intentelo xd.
        <br>   
    </p>    
    
      
</aside>

{% endblock %}