{% extends "layout.html" %}

{% block content %}
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2> Capibaras: </h2>
            <p>Bienvenido!!, ¿queres saber sobre los capibaras?? el capibara, chigüire
                o carpincho ​ es una especie de roedor de la familia de los cávidos, nativa 
                de Sudamérica. Es el roedor viviente de mayor tamaño y peso del mundo.​ El otro miembro 
                existente de ese género es el capibara menor.
                <br>
                <img src="/static/imagenes/b2.jpg" width="200px">
           </p>
       </article>
        <article>
           <h2> ¿De que se alimentan los capibaras?  </h2>
            <br>
            <p>Son herbívoros, comen hierbas palustres, gramíneas y hiervas ribereñas. 
                Se alimenta principalmente durante el atardecer y la noche. Poseen un 
                comportamiento reproductivo del tipo de harén (un macho puede tener varias 
                hembras).
            </p>
        
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> No vendemos capibaras, recuerda siempre adoptar y no tomar de cautiverio.
        <br>
    </p>
    <p>
        Para mas informacion, contactenos al numero 449 110 5135, seguramente no le responderemos
        pero minimo intentelo xd.
        <br>   
    </p>    
    
      
</aside>
    
{% endblock %}