{% extends "layout.html" %}

{% block content %}
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2> Gatos esfinge: </h2>
            <p>Bienvenido!!, ¿queres saber sobre los gatos esfige?? El sphynx o gato 
                esfinge (también llamado de forma común pero erróneamente gato egipcio) 
                es una raza de gato originaria de Canadá. La característica más llamativa 
                de esta raza es la aparente ausencia de pelaje y su aspecto delgado y 
                esbelto. Aunque los ejemplares de la raza parecen ser gatos sin pelos, hay 
                que destacar que verdaderamente no son gatos pelados, sino que presentan 
                la piel cubierta de una capa de vello muy fino, corto y parejo, casi 
                imperceptible a la vista o al tacto.
                <br>
                <img src="/static/imagenes/c2.jpg" width="200px">
           </p>
       </article>
        <article>
           <h2> ¿De que se alimentan los gatos esfinge?  </h2>
            <br>
            <p>Presta atención a que tu gato tenga siempre suficiente agua fresca a su disposición.
                 La alimentación básica de tu sphynx debe basarse en el pienso y en la comida húmeda 
                 de alta calidad. Asimismo, el alimento elegido debe tener un contenido elevado 
                 de carne y un porcentaje bajo de carbohidratos.
            </p>
        
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> No vendemos gatos, recuerda siempre adoptar y no tomar de cautiverio.
        <br>
    </p>
    <p>
        Para mas informacion, contactenos al numero 449 110 5135, seguramente no le responderemos
        pero minimo intentelo xd.
        <br>   
    </p>    
    
      
</aside>
    
{% endblock %}