{% extends "layout.html" %}

{% block content %}
<section class="main" >
    
<section class="articles">
        <article>
            <h2> Sobre nuestra veterinaria:  </h2>
            <p>Bienvenido!!, esta es la pagina oficial de +kotas-a, en este sitio web
                te damos informacion acerca de tus mascotas favoritas, como su tipo de alimentacion, 
                su habitat, caracteristicas y mas para que tus compañeros vivan como lo merecen y
                necesitan, y sean tan felices como Pepito, el ajolote que tienes frente a ti :D.
                <br>
                <img src="/static/imagenes/a1.jpg" width="200px">
           </p>
       </article>
        <article>
           <h2> ¿Como usarla?  </h2>
            <br>
            <p>Ubica la barra de busqueda y seleccione la opcion que desea cumplir, 
                como ir al inicio, a la pagina de gatos, de ajolotes o de capibaras, 
                es relativamente sencillo.
            </p>
        
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> +KOTAS-A no se hace responsable si su Cuyo se muere por aplastarse con una papa.
        <br>
    </p>
    <p>
        Para mas informacion, contactenos al numero 449 110 5135, seguramente no le responderemos
        pero minimo intentelo.
        <br>   
    </p>    
    
      
</aside>
    
{% endblock %}