<!DOCTYPE html>
<html lang="es">
<head>
<meta name="keywords" content="HTML5, CSS3">
<title> +KOTAS-A </title>
<link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<header id="pipipi">
    <span id="titulo"> Veterinaria: ajolotes </span>
    <hr>
    <img src="/static/imagenes/a1.jpg" width="200px">
</header>

<nav>
    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/ajolote"> Ajolotes :) </a></li>
        <li><a href="/capibara"> Capibaras :0 </a></li>
        <li><a href="/gatos"> Gatos Esfinge xd </a></li>
        <li><a href="/contacto"> Contacto </a></li>
    </ul>
</nav>

{% block content %}

{% endblock %}

<footer>
    <p>-Sigueme en mis redes sociales como "@Diego Muñoz" en Facebook</p>
</footer>
  
</body>
</html>